.companyCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  padding: 1rem;
  border: 1px solid #e0e0e0;
  border-radius: 1rem;
  box-shadow: 3px 3px 3px #ede9e9;
  background-color: aliceblue;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.header img {
  margin: 0.5rem;
}

.header h1 {
  font-size: 1.25rem;
  text-align: center;
  padding: 1rem;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
