.search {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 2rem;
  width: 100%;
}

.searchInfo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchInfo h1 {
  font-size: 2rem;
  text-align: center;
  padding: 1rem;
}

.searchInfo p {
  margin: 0rem 1rem;
  border-radius: 1rem;
  text-align: center;
  padding: 0.5rem;
  background-color: #55d658;
  border: 1px solid #22c125;
  color: #ffffff;
  font-size: 1rem;
}

.searchResults {
  display: inline-grid;
  align-items: center;
  justify-content: center;
}
