.search {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 2rem;
  width: 100%;
}

.searchHeader {
}

.searchResults {
  display: inline-grid;
  align-items: center;
  justify-content: center;
}
