.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  height: 100%;
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background: linear-gradient(135deg, #67ad6a 0%, #68ba6e 40%, #3e8dca 100%);
}

.socialLinks {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  color: black;
}

.socialLinks a:hover {
  color: #3e8dca;
  transition: color 0.3s ease;
}

.bottomNav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 1.25rem;
  color: black;
}

.bottomNav ul a:hover {
  color: #3e8dca;
  transition: color 0.3s ease;
}
